{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <img alt="Git Logo" style="padding-top: 5px; padding-bottom: 5px" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAA3NCSVQICAjb4U/gAAAAS1BMVEVERETq6urAwMBtbW3////Q0NBgYGBSUlJ/f3/v7+/f3994eHjMzMz5+flLS0vZ2dlZWVnJycny8vLj4+PExMRPT0/7+/tHR0fh4eF3FFxpAAAAGXRSTlP/////AP//////////////////////////el2NcgAAAAlwSFlzAAALEgAACxIB0t1+/AAAAB50RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNS4xqx9I6wAAAGxJREFUGJW1kNsKgCAMQC01Z2KbN/T/v7Stgnqox87DwR2QwZR5Qf0S48TEpznahcHTKLYcfWLy6Sz234vmJK9axalecQkyai0O+oiWVCdkK0Kk3kkWIWwOBkJrMAa4Bvj13Zi1yFhu/3OlF3aiqAloehvNYgAAAABJRU5ErkJggg==" />
        <span class="sf-toolbar-status">{{ collector.branch }}</span>
    {% endset %}
    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Current branch</b>
            <span>{{ collector.branch }}</span>
        </div>
    {% endset %}
    {% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">
            <img alt="Git Logo" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAAA3NCSVQICAjb4U/gAAAAgVBMVEVAQEDn5+ekpKRgYGDU1NSZmZm7u7t/f39FRUX////JyclRUVG0tLRmZmb19fXf39/t7e1dXV1mZmZMTEzS0tLd3d3Dw8P39/fz8/Ph4eFvb29YWFhKSkq5ubnb29tWVlbPz8/7+/tISEjZ2dnq6upUVFTj4+Pp6en5+flGRkZeXl4ktJLCAAAAK3RSTlP///////////8A////////////////////////////////////////////AOT3HgAAAAlwSFlzAAALEgAACxIB0t1+/AAAAB50RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNS4xqx9I6wAAALJJREFUOI3tkMsOgkAMRS/iMFYpYArKO4KP6P//oAg1slMSEjec1cn0pJkU9ANYonmjyh9IKVDzG4rUKo3YHbhRpOYGdFbjKVEWDtypUQuJjh/9z50yaw/6EFsbq3rWOqMoBlbvCeCpGiCZFhUiwEMkpItIC7QiAa1FNkBZFhp1SU9CjhrS1/Ie0SjnPXBl7i7OXAAFc0A18w5wOZ/940SOMSed1MbUqltjolH0hSWaMXoCGA8vDMiWOI8AAAAASUVORK5CYII=" />
        </span>
        <strong>Git</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>Git</h2>

    {% if collector.branches is not empty %}
        <h3 style="margin: 10px 0">Branches</h3>
        <ul style="margin-left: 25px">
            {% for branch in collector.branches %}
                <li style="list-style-type: circle; font-size: 0.9em; padding: 2px 0; font-family: monospace;">
                    {% if branch == collector.branch %}
                        <strong style="color: green">{{ branch }}</strong>
                    {% else %}
                        {% if 'remotes' in branch %}
                            <span style="color: red">{{ branch }}</span>
                        {% else %}
                            {{ branch }}
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if collector.tags is not empty %}
        <h3 style="margin: 10px 0">Tags</h3>
        <ul style="margin-left: 25px">
            {% for tag in collector.tags %}
                <li style="list-style-type: circle; font-size: 0.9em; padding: 2px 0; font-family: monospace;">
                    {{ tag }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
